anyio==4.1.0
asgiref==3.7.2
certifi==2023.11.17
charset-normalizer==3.3.2
colorama==0.4.6
Django==5.0
exceptiongroup==1.2.0
filelock==3.13.1
fsspec==2023.12.1
gradio_client==0.7.1
h11==0.14.0
httpcore==1.0.2
httpx==0.25.2
huggingface-hub==0.19.4
idna==3.6
packaging==23.2
-e git+https://github.com/deepconclusions/plant-disease-detector-frontend.git@7debca1f2abd5921a48bb74e3ab16922a0917607#egg=plants
PyYAML==6.0.1
requests==2.31.0
sniffio==1.3.0
sqlparse==0.4.4
tqdm==4.66.1
typing_extensions==4.8.0
tzdata==2023.3
urllib3==2.1.0
websockets==11.0.3
annotated-types==0.6.0
anyio==4.1.0
asgiref==3.7.2
certifi==2023.11.17
charset-normalizer==3.3.2
colorama==0.4.6
distro==1.9.0
Django==5.0
exceptiongroup==1.2.0
filelock==3.13.1
fsspec==2023.12.1
gradio_client==0.7.1
h11==0.14.0
httpcore==1.0.2
httpx==0.25.2
huggingface-hub==0.19.4
idna==3.6
openai==1.9.0
packaging==23.2
-e git+https://github.com/deepconclusions/plant-disease-detector-frontend.git@4b1af9581c153fb82c349fc0678572c0ec3c29ff#egg=plants
pydantic==2.5.3
pydantic_core==2.14.6
PyYAML==6.0.1
requests==2.31.0
sniffio==1.3.0
sqlparse==0.4.4
tqdm==4.66.1
typing_extensions==4.8.0
tzdata==2023.3
urllib3==2.1.0
websockets==11.0.3
