{% extends 'plants/base.html' %} {% block content %}
{% load static %}
<div class="">
    <div class="bg-success text-light">
        <div class="p-5 text-center d-flex flex-column justify-content-center">
            <h1>Join the team</h1>
            <p class="fw-light align-self-center" style="width: 50%;">
                Deep Conclusions is building a world-class team of AI Experts, 
                Learning Engineers, Software Developers, Applied Scientists, and Product Managers. 
                See Artificial Intelligence (AI), sales, engineer jobs and machine learning careers .
            </p>
        </div>
    </div>
    <div class="p-5">
        <h1 class="fw-bold">Deep Conclusions Benefits</h1>
        <div class="d-flex flex-column p-5">
            <div class="row justify-content-between">
                <div class="col-md-3">
                    <i style= "font-size: 50px;" class="text-success p-3 fa-solid fa-heart-pulse"></i>
                    <h4 class="fw-bold">HEALTH</h4>
                    <p class="fw-light">Our people and dependents* are covered by comprehensive medical, dental, and vision.</p>
                </div>
                <div class="col-md-3">
                    <i style= "font-size: 50px;" class="text-success p-3 fa-brands fa-artstation"></i>
                    <h4 class="fw-bold">ENVIRONMENT</h4>
                    <p class="fw-light">We provide an allowance for you to set up a workstation however you want.</p>
                </div>
                <div class="col-md-3">
                    <i style= "font-size: 50px;" class="text-success p-3 fa-solid fa-dumbbell"></i>
                    <h4 class="fw-bold">WELLNESS</h4>
                    <p class="fw-light">We offer a fitness stipend to be used on well-being and fitness programs.</p>
                </div>
            </div>
            <div class="row justify-content-between">
                <div class="col-md-3">
                    <i style= "font-size: 50px;" class="text-success p-3 fa-solid fa-chalkboard-user"></i>
                    <h4 class="fw-bold">LIFELONG LEARNING</h4>
                    <p class="fw-light">With an education stipend, you are encouraged to keep learning and growing.</p>
                </div>
                <div class="col-md-3">
                    <i style= "font-size: 50px;" class="text-success p-3 fa-solid fa-hourglass-end"></i>
                    <h4 class="fw-bold">RETIREMENT</h4>
                    <p class="fw-light">We offer retirement plans* to help you plan for your future!</p>
                </div>
                <div class="col-md-3">
                    <i style= "font-size: 50px;" class="text-success p-3 fa-solid fa-calendar-days"></i>
                    <h4 class="fw-bold">EVENTS</h4>
                    <p class="fw-light">We love having fun! We set up virtual and in-person events to connect with each other.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="px-4 pt-5 my-5 border-bottom text-light fw-light bg-success">
        <div class="p-md-5 m-5 row d-flex justify-content-between">
          <h2 class="col-6">See How Easy Plant Disease Detection Can Be</h2>
          <div class="col-6 d-flex flex-column align-content-center">
            <p>Detect deases in your plants with out technology</p>
            <a href="" class="d-inline-block text-center btn btn-warning">
              Start For Free
            </a>
          </div>
        </div>
      </div>
</div>

{% endblock content %}